[Desktop Entry]
Encoding=UTF-8
Name=Viewing packages in system
Name[ru]=Просмотр пакетов в системе
Icon=mini-doc.xpm
Comment=Viewing packages in system
Comment[ru]=Просмотр пакетов в системе
Exec=manager_pfs
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=Viewing packages in system
GenericName[ru]=Просмотр пакетов в системе
