[Desktop Entry]
Encoding=UTF-8
Name=Просмотр пакетов в системе
Icon=mini-doc.xpm
Comment=Просмотр пакетов в системе
Exec=manager_pfs
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=Просмотр пакетов в системе
